<div class="modal-header">
    <button type="button" class="close" data-ng-click="Modals.close();">x</button>
    <h4 class="modal-title">Add New Batch</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">


            <div class="p-20">
                <form name="addBatchForm" novalidate>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="course_code">Degree Code<span class="text-danger">*</span></label>
                                <input type="text" name="course_code" required placeholder="Enter Course Code" class="form-control" data-ng-model="$parent.addPSFormObj.degreeCode" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="course_name">Degree Name<span class="text-danger">*</span></label>
                                <input type="text" name="course_name"  required placeholder="Enter Course Name" class="form-control" data-ng-model="$parent.addPSFormObj.degreeName" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="heard">Academic Term :</label>
                                <input type="text" name="academic_term"  required placeholder="Enter Academic Term" class="form-control" data-ng-model="$parent.addPSFormObj.academicTerm" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="course_sks">SKS<span class="text-danger">*</span></label>
                                <input type="text" name="course_sks" parsley-trigger="change" required placeholder="Enter SKS" class="form-control" data-ng-model="$parent.addPSFormObj.sks" />
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="activeStatus">
                                    <input type="radio" name="status" id="activeStatus" value="Active" data-ng-model="$parent.addPSFormObj.status" data-ng-value="Active"/>
                                    Active
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inactiveStatus">
                                    <input type="radio" name="status" id="inactiveStatus" value="Inactive" data-ng-model="$parent.addPSFormObj.status" data-ng-value="Inactive" />
                                    Inactive
                                </label>

                            </div>
                        </div>
                    </div>




                    <div class="modal-footer">


                    </div>

                    <div class="form-group m-b-0 text-right">
                        <button class="btn btn-teal btn-bordered waves-light waves-effect w-sm m-b-5" data-ng-click="addBatch(addBatchForm)">
                            Save Details
                        </button>
                        <button type="button" class="btn btn-default btn-bordered waves-effect w-md m-b-5" data-ng-click="Modals.close();">Close</button>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>