<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

<connectionStrings><add name="edurp_devEntities" connectionString="metadata=res://*/EduRpModel.csdl|res://*/EduRpModel.ssdl|res://*/EduRpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-24DNNLSI\MSSQLSERVER2017;initial catalog=edurp_dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
