
{{ 'TITLE' | translate }}
    <div class="wrapper">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="btn-group pull-left">
                            <ol class="breadcrumb hide-phone p-0 m-0">
                                <li>
                                    <a href="#">EduRP</a>
                                </li>
                                <li>
                                    <a href="#">Dashboard</a>
                                </li>
                                <li class="active">
                                    Create Batch

                                </li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->


            <div class="row">
                <!-- end col -->
                <div class="col-lg-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-lg-4">
                                <h4 class="m-t-0 header-title"><b>Manage Create Batch</b></h4>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <select class="form-control" data-ng-model="selectedProgramStudy" data-ng-options="fps.degreeName for fps in filteredProgramStudyData">
                                    <option value="">--Select a Batch--</option>
                                </select> 
                            </div>

                            <div class="col-lg-4">
                                <button class="btn btn-teal btn-bordered waves-light waves-effect w-xl m-b-5">Go</button>
                            </div>

                            <div class="col-lg-4 pull-right">
                                <button class="btn btn-teal btn-bordered waves-light waves-effect w-md m-b-5" data-ng-click="addBatchContainer()">Add New Batch</button>
                            </div>


                        </div>
                        <hr>

                        <div class="row" style="background-color:#E4FAF8;">
                            <div class="col-lg-12" style="margin-top:10px;">
                            </div>
                        </div>
                        <div class="row" style="background-color:#E4FAF8;">
                            <div class="col-lg-12">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <h4 class="panel-title">

                                            Assigned Courses

                                        </h4>
                                    </div>

                                    <div class="col-lg-4 pull-right">
                                        <button class="btn btn-teal btn-bordered waves-light waves-effect w-md m-b-5" data-toggle="modal" id="removecourses">Remove Courses</button>
                                    </div>
                                    <div class="col-lg-4 pull-right">
                                        <button class="btn btn-teal btn-bordered waves-light waves-effect w-md m-b-5" data-ng-click="assignCoursesContainer()">Assign Courses</button>
                                    </div>


                                </div>
                                <br>

                                <div class="panel-group" style="margin-bottom:0px;" id="accordion" role="tablist" aria-multiselectable="true">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Filters
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <form action="#" data-parsley-validate="">

                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="userName">Course Code</label>
                                                                <select id="heard" class="form-control" multiple>
                                                                    <option value="0001">0001</option>
                                                                    <option value="0002">0002</option>
                                                                    <option value="003">0003</option>
                                                                    <option value="other">Other..</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="userName">Course Name</label>
                                                                <select id="heard" class="form-control" multiple>
                                                                    <option value="">Choose..</option>
                                                                    <option value="Computer Sciences">Computer Sciences</option>
                                                                    <option value="MBA">MBA</option>
                                                                    <option value="MCA">MCA</option>
                                                                    <option value="other">Other..</option>
                                                                </select>

                                                            </div>
                                                        </div>

                                                    </div>



                                                    <div class="form-group text-right m-b-0">
                                                        <button class="btn btn-teal btn-bordered waves-light waves-effect w-xs  m-b-2" type="submit">
                                                            GO
                                                        </button>
                                                        <button type="reset" class="btn btn-default waves-effect m-l-5">
                                                            Clear
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- end col -->
                            <div class="col-lg-12">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" style="margin-top: -10px;">

                                            <table id="datatable" class="table table-striped table-bordered table-colored table-inverse">
                                                <thead>
                                                    <tr>
                                                        <th>Course Code</th>
                                                        <th>Course Name</th>
                                                        <th><label><input type="checkbox" data-ng-model="coursesLinkedSelectAll" />&nbsp;Select All</label></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="cd in filteredCourseData|orderBy:orderByField:courseReverseSort">
                                                        <td>{{ cd.CourseCode}}</td>
                                                        <td>{{ cd.CourseName}}</td>
                                                        <td><input type="checkbox" name="" value="" ng-checked="coursesLinkedSelectAll"/></td>
                                                    </tr>
                                                </tbody>
                                               
                                            </table>
                                        </div>
                                    </div>

                                </div> <!-- end card -->
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="dataTables_length" id="datatable_length">

                                            <label>
                                                Show
                                                <select name="datatable_length"
                                                        aria-controls="datatable"
                                                        class="form-control input-sm"
                                                        data-ng-model="courseNumPerPage"
                                                        data-ng-options="x for x in showPerPageDataOptions"></select>
                                                entries
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
                                            Showing {{courseCurrentPage*courseNumPerPage - courseNumPerPage  + 1}} to {{courseData.length > courseCurrentPage*courseNumPerPage ? courseCurrentPage*courseNumPerPage : courseData.length}} of {{courseData.length}} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                                            <pagination ng-model="courseCurrentPage"
                                                        total-items="courseData.length"
                                                        max-size="courseMaxSize"
                                                        boundary-links="true"
                                                        items-per-page="courseNumPerPage">
                                            </pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->



                        </div>
                        <!-- end row -->
                        <hr>


                        <div class="row" style="background-color:#F5F6E2;">
                            <div class="col-lg-12" style="margin-top:10px;">
                            </div>
                        </div>
                        <div class="row" style="background-color:#F5F6E2;">
                            <div class="col-lg-12">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <h4 class="panel-title">

                                            Assigned Fees

                                        </h4>
                                    </div>
                                    <div class="col-lg-4 pull-right">
                                        <button class="btn btn-teal btn-bordered waves-light waves-effect w-md m-b-5" id="removefee">Remove Fees</button>
                                    </div>

                                    <div class="col-lg-4 pull-right">
                                        <button class="btn btn-teal btn-bordered waves-light waves-effect w-md m-b-5" data-ng-click="assignFeesContainer()">Assign Fees</button>
                                    </div>
                                </div>
                                <br>

                                <div class="panel-group" style="margin-bottom:0px;" id="accordion" role="tablist" aria-multiselectable="true">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThreef" aria-expanded="false" aria-controls="collapseThreef">
                                                    Filters
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThreef" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <form action="#" data-parsley-validate="">

                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="userName">Fees Code</label>
                                                                <select id="heard" class="form-control" multiple>
                                                                    <option value="0001">0001</option>
                                                                    <option value="0002">0002</option>
                                                                    <option value="003">0003</option>
                                                                    <option value="other">Other..</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="userName">Fees</label>
                                                                <select id="heard" class="form-control" multiple>
                                                                    <option value="">Choose..</option>
                                                                    <option value="Free">Free</option>
                                                                    <option value="Sponsered">Sponsered</option>
                                                                    <option value="Funded">Funded</option>
                                                                    <option value="other">Other..</option>
                                                                </select>

                                                            </div>
                                                        </div>

                                                    </div>



                                                    <div class="form-group text-right m-b-0">
                                                        <button class="btn btn-teal btn-bordered waves-light waves-effect w-xs  m-b-2" type="submit">
                                                            GO
                                                        </button>
                                                        <button type="reset" class="btn btn-default waves-effect m-l-5">
                                                            Clear
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- end col -->
                            <div class="col-lg-12">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" style="margin-top: -10px;">

                                            <table id="datatablef" class="table table-striped table-bordered table-colored table-inverse">
                                                <thead>
                                                    <tr>
                                                        <th>Fees Code</th>
                                                        <th>Fees</th>
                                                        <th><label><input type="checkbox" data-ng-model="feesLinkedSelectAll" />&nbsp;Select All</label></th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr data-ng-repeat="f in filteredFeesData|orderBy:orderByField:feesReverseSort">
                                                        <td>{{ f.feesCode}}</td>
                                                        <td>{{ f.feesName}}</td>
                                                        <td><input type="checkbox" name="" value="" ng-checked="feesLinkedSelectAll"/></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div> <!-- end card -->
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="dataTables_length" id="datatable_length">

                                            <label>
                                                Show
                                                <select name="datatable_length"
                                                        aria-controls="datatable"
                                                        class="form-control input-sm"
                                                        data-ng-model="feesNumPerPage"
                                                        data-ng-options="x for x in showPerPageDataOptions"></select>
                                                entries
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
                                            Showing {{feesCurrentPage*feesNumPerPage - feesNumPerPage  + 1}} to {{feesData.length > feesCurrentPage*feesNumPerPage ? feesCurrentPage*feesNumPerPage : feesData.length}} of {{feesData.length}} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                                            <pagination ng-model="feesCurrentPage"
                                                        total-items="feesData.length"
                                                        max-size="feesMaxSize"
                                                        boundary-links="true"
                                                        items-per-page="feesNumPerPage">
                                            </pagination>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- end col -->



                        </div>
                        <!-- end row -->

                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer class="footer text-right">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            EduRP - Education ERP Management System © 2017. All rights reserved.

                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->

        </div>
    </div>


    
  


    



   

  