<!DOCTYPE html>
<html ng-app="EduRpApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>EduRp</title>


    <script src="../../Assets/Scripts/modernizr-2.8.3.js"></script>
    <!--Morris Chart CSS -->
    <link href="../../Assets/plugins/morris/morris.css" rel="stylesheet" />
    <!-- Plugins Css -->
    <link href="../../Assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="../../Assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <link href="../../Assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="../../Assets/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet" />
    <link href="../../Assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />


    <!-- App css -->
    <link href="../../Assets/Styles/edurp/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Assets/Styles/edurp/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Assets/Styles/edurp/css/core.css" rel="stylesheet" type="text/css" />
    <link href="../../Assets/Styles/edurp/css/components.css" rel="stylesheet" type="text/css" />
    <link href="../../Assets/Styles/edurp/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../../Assets/Styles/edurp/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="../../Assets/Styles/edurp/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="../../Assets/Styles/edurp/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="../../Assets/plugins/switchery/switchery.min.css" rel="stylesheet" />


    <link href="Assets/Styles/styles.css" rel="stylesheet" />
    <link href="Assets/Styles/roboto.css" rel="stylesheet" />
    <link href="Assets/Styles/ripples.css" rel="stylesheet" />
    <link href="Assets/Styles/material.css" rel="stylesheet" />
    <link href="Assets/Styles/material-fullpalette.css" rel="stylesheet" />
    <link href="Assets/Styles/bootstrap.css" rel="stylesheet" />
    <link href="Assets/Styles/bootstrap-theme.css" rel="stylesheet" />

    <!-- DataTables -->



    <link href="Assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="Assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Assets/plugins/datatables/dataTables.colVis.css" rel="stylesheet" type="text/css" />
    <link href="Assets/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Assets/plugins/datatables/fixedColumns.dataTables.min.css" rel="stylesheet" type="text/css" />

    <!-- Plugins css-->
    <link href="Assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="Assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="Assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="Assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="Assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="Assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css">

    <!-- App css -->

    <link href="Assets/Styles/edurp/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="Assets/Styles/edurp/css/core.css" rel="stylesheet" type="text/css" />

    <link href="Assets/Styles/edurp/css/components.css" rel="stylesheet" type="text/css" />

    <link href="Assets/Styles/edurp/css/icons.css" rel="stylesheet" type="text/css" />

    <link href="Assets/Styles/edurp/css/pages.css" rel="stylesheet" type="text/css" />

    <link href="Assets/Styles/edurp/css/menu.css" rel="stylesheet" type="text/css" />

    <link href="Assets/Styles/edurp/css/responsive.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="Assets/plugins/switchery/switchery.min.css">

</head>
<body ng-controller="GlobalController">
    <div class="container body-content">
        <div class="container">
            <nav class="navbar">
                <!-- Navbar content -->
                <ul>
                    
                    <li class="nav-item">
                        <a class="btn" ng-click="goToPage('/Admin/CourseList/')">Show Course</a>
                        <a class="btn" ng-click="goToPage('/Admin/Task')">Task</a>
                        <a class="btn" ng-click="goToPage('/Admin/Subject')">Subjects</a>
                        <a class="btn" ng-click="goToPage('/Admin/AcademicBatch')">Academic Batch</a>
                        <a class="btn" ng-click="goToPage('/Admin/ProgramStudy')">Program Study</a>
                        <a class="btn" ng-click="goToPage('/Admin/CreateBatch')">Create Batch</a>
                        <a class="btn" ng-click="goToPage('/Admin/ClassRoom')">Class Room</a>
                        <a class="btn" ng-click="goToPage('/Admin/Employees')">Employees</a>
                        <a class="btn" ng-click="goToPage('/Admin/ExaminationType')">Examination Type</a>
                        <a class="btn" ng-click="goToPage('/Admin/Fees')">Fees</a>
                        <a class="btn" ng-click="goToPage('/Admin/NotificationType')">Notification Type</a>
                        <a class="btn" ng-click="goToPage('/Admin/Chapters')">Chapters</a>
                        <a class="btn" ng-click="goToPage('/StudentAdmissionForm')">Student Admission Page</a>
                    </li>
                   
                </ul>

            </nav>
        </div>
        
        <ng-view>

        </ng-view>

        <footer class="footer">
            <div class="row">
                <div class="col-md-6">
                    &copy;- Developed and Designed by Computude Technology
                </div>
               
            </div>
        </footer>
        <br />
    </div>
<script src="Assets/Scripts/jquery-2.1.4.js"></script>
                <script src="Assets/Scripts/modernizr-2.8.3.js"></script>
                <script src="Assets/Scripts/respond.js"></script>
                <script src="Assets/Scripts/ripples.js"></script>
                <script src="Assets/Scripts/material.js"></script>
                <script src="Assets/Scripts/jquery.validate.js"></script>
                <script src="Assets/Scripts/jquery.validate.unobtrusive.js"></script>
                <script src="Assets/Scripts/angular/angular.js"></script>
                <script src="Assets/Scripts/angular/angular-route.js"></script>
                <script src="Assets/Scripts/angular/angular-resource.js"></script>
                <script src="Assets/Scripts/angular/angular-animate.js"></script>
                <script src="Assets/Scripts/angular/angular-loader.js"></script>
                <script src="Assets/Scripts/angular/angular-aria.js"></script>
                <script src="Assets/Scripts/angular/angular-cookies.js"></script>
                <script src="Assets/Scripts/angular/angular-messages.js"></script>
                <script src="Assets/Scripts/angular/angular-mocks.js"></script>
                <script src="Assets/Scripts/angular/angular-sanitize.js"></script>
                <script src="Assets/Scripts/angular/angular-scenario.js"></script>
                <script src="Assets/Scripts/angular/angular-touch.js"></script>
                <script src="Assets/Scripts/angular/i18n/angular-locale_en-us.js"></script>
                <script src="Assets/Scripts/angular/ui-bootstrap.js"></script>
                <script src="Assets/Scripts/angular/ui-bootstrap-tpls.js"></script>
                <script src="App/app.js"></script>
   
    

    <script src="App/Services/Interceptors/errorHandler.js"></script>
    <script src="App/Services/Interceptors/xmlHttpInterceptor.js"></script>

    <script src="App/Services/Account/storageHandler.js"></script>
    <script src="App/Services/Account/tokenHandler.js"></script>
    <script src="App/Services/Account/authService.js"></script>

    <script src="App/Route/routeConfig.js"></script>
    <script src="App/Services/urlService/urlService.js"></script>

    <script src="App/Services/Contact/contactService.js"></script>
    <script src="App/Services/Common/services.js"></script>
    <script src="App/Services/Course/courseListService.js"></script>
    <script src="App/Services/Subject/subjectListService.js"></script>
    <script src="App/Services/ProgramStudy/programStudyService.js"></script>
	<script src="App/Services/CreateBatch/createBatchService.js"></script>

    <script src="App/Services/AcademicBatch/academicBatchService.js"></script>
    <script src="App/Services/ClassRoom/classRoomListService.js"></script>
    <script src="App/Services/Employees/employeesListService.js"></script>
    <script src="App/Services/ExaminationType/examinationTypeService.js"></script>
    <script src="App/Services/Fees/feesListService.js"></script>
    <script src="App/Services/NotificationType/notificationTypeService.js"></script>
    <script src="App/Services/Chapters/chaptersListService.js"></script>
    <script src="App/Services/Task/taskListService.js"></script>



    <script src="App/Controllers/Global/globalController.js"></script>

    <script src="App/Controllers/Account/loginController.js"></script>
    <script src="App/Controllers/Account/registerController.js"></script>

    <script src="App/Controllers/Contact/contactController.js"></script>
    <script src="App/Controllers/Contact/contactFormModalController.js"></script>

    <script src="App/Controllers/Course/courseListController.js"></script>
    <script src="App/Controllers/Subject/subjectListContoller.js"></script>
    <script src="App/Controllers/ProgramStudy/programStudyController.js"></script>
	<script src="App/Controllers/CreateBatch/createBatchCtrl.js"></script>
    <script src="App/Controllers/Task/taskListController.js"></script>

    <script src="App/Controllers/Fees/feesListController.js"></script>
    <script src="App/Controllers/ClassRoom/classRoomListContoller.js"></script>
    <script src="App/Controllers/ExaminationType/examinationTypeController.js"></script>
    <script src="App/Controllers/NotificationType/notificationTypeController.js"></script>
    <script src="App/Controllers/AcademicBatch/academicBatchController.js"></script>
    <script src="App/Controllers/StudentAdmissionForm/studentadmissionformController.js"></script>
    <script src="App/Controllers/Chapters/chaptersListContoller.js"></script>








    <script type="text/javascript">
        $(document).ready(function () {
            $.material.init();
        });
    </script>
</body>
</html>

